*{
    margin: 0;
    padding: 0; 
    font-family: 'Prompt', sans-serif; 
}
.content{
    margin: 0px 65px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
/* navigation */
.navbar{
    display: flex;  
    justify-content: space-between; 
    padding: 10px 20px;
}
.navbar-collapse {
    display: flex;
    justify-content: space-between;
    /* width: 100%;
    padding: 8px; */
  }
.list-nav{
    display: flex;  
    padding: 20px;  
}
.navlink{
    padding: 0px 20px;
}
.navlink a{    
    font-weight: 500;
    font-family: 'Prompt', sans-serif;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.logo{
    width: 60px;
}
.logo img {
    height: 60px;    
}
.toggler {
    display: none;
  }
/* end of nav */

/* row & column */
.row{
    display: flex;    
    justify-content: space-between;
}
.col{
    display: flex;
    flex-direction: column;
}
/* end of row & column */

/* footer */
.footer *{
    background-color: rgb(25, 25, 25);
    color: white;
}
.footer .row:first-child{
    padding: 40px 65px;
}
.footer-list{
    padding: 12px 8px;
}
.footer .sosmed, .icon-sosmed {
    padding: 12px 8px;
}

.footer .copyright {
    border-top: 1px solid rgb(70, 70, 70);
    justify-content: center;
    text-align: center;
    color: rgb(70, 70, 70);
    padding: 20px 65px;
}
/* end of footer */

/* header */
.header {
    font-family: 'DM Serif Display', serif;
    font-size: 8vw;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(230, 230, 230);
}
.header-mini{
    display: none;
}
/* end of header */

/* padding */
.p-1 {
    padding: 10px;
}
.p-2 {
    padding: 20px;
}
/* end of padding */

/* content */
.news {
    font-family: 'Prompt', sans-serif;
}
.beranda .title, 
.tentang .title, 
.visimisi .title, 
.dokumentasi .title,
.contact .title,
.section .title{
    font-size: 3em;
    font-weight: 600;
}
.beranda .desc, .tentang .desc, .visimisi .desc {
    text-align: justify;    
}
.news .header {
    color: black;
    font-size: 1.2em;
    text-align: start;
    font-weight: bold; 
    border-bottom: 2px solid black;
}
.news-content .title{
    font-size: 1em;
    font-weight: 500;
} 
.news-content .desc{
    font-size: .8em;
    font-weight: 100;
}
.tentang .image {
    width: 300px;
    padding: 30px;
}
.section, .dokumentasi {
    min-height: 80vh;
}
.visimisi .row:first-child{
    justify-content: space-around;
}
.visimisi .vm {
    padding: 8px 12px;
    display: flex;
}
.visimisi .vm .num{
    font-family: 'Roboto', sans-serif;
    font-size: 12em; 
    margin-top: -30px;
    margin-right: 10px;
    color: rgb(230, 230, 230);
}
.visimisi .vm .text{
    text-align: justify;
    font-size: 1.5em;
    width: 400px;
}.dokumentasi .image{
    width: 350px;
    height: 350px;
}
.contact .image{
    width: 800px;
    height: 450px;
}

.pengajuan .image {
    width: 400px;
    /* margin: 0px 80px; */
}
.pengajuan .col{
    width: 400px;
    margin-right: 200px;
}
.pengajuan .row {
    margin-top: 60px;
    cursor: pointer;
}
.pengumuman .col{
    padding: 10px 20px;
}
.pengumuman .title {
    font-size: 1.2em;
}
/* end of content */

/* BUTTON */
.btn-black {
    padding: 18px 30px;
    background-color: rgb(43, 43, 43);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-light {
    padding: 18px 30px;
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-second{
    padding: 18px 30px;
    background-color: rgb(177, 177, 177);
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}
.btn-menu {
    padding: 8px;
    width: 2em;
    background-color: transparent;
    color: black;
    font-size: 2em;
    outline: none;
    border: none;
    cursor: pointer;
}
/* end of button */

/* position */
.right {
    display: flex;    
    justify-content: end;
}
/* end of position */

/* form */

/* form {
    width: 100%;
} */
input {
    outline: none;
    border: none; 
    /* background-color: transparent;     */
}
.form-input, input{
    width: 100%;
    background-color: rgb(230, 230, 230);
    margin: 4px 0px;
}
.form-input {
    padding: 12px;
}
.form textarea{
    outline: none;
    border: none;
    background-color: rgb(230, 230, 230);
    resize: none;
}
.form-btn {
    padding: 10px 0px;
}
.form-input.pass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-input.pass label{
    cursor: pointer;
}
/* end of form */

/* map */
.map {
    width: 70%;
}
/* end of map */

/* responsive */
@media screen and (max-width: 1120px){
    .navlink{
        padding: 0px 8px;
    }
}

@media screen and (max-width: 980px){
    .navbar{
        flex-direction: column;
    }
    .navbar-collapse {
        /* display: none; */
        max-height: 0;
        transition: all 0.2s ease-out;
        overflow: hidden;
        padding: 0px;
    }
    .navbar-collapse.collapse {
        display: block;    
    }
    .navbar-collapse .list-nav {
        flex-direction: column;
        width: 100%;    
        background-color: rgb(209, 209, 209);
        padding: 0px;
    }
    .navlink{
        padding: 8px 12px;           
    }
    .navlink,
    .navlink a{       
        border: none; 
        /* background-color: rgb(209, 209, 209); */
        display:flex;
        justify-content: center;   
    }
    .navlink a{
        width: 100%;                
        align-items: center;        
    }
    .navlink a i{
        padding: 8px;
    }
    .navlink:hover{
        background-color: rgb(158, 158, 158);
    }
    .toggler{
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .header{
        display: none;
    }
    .header.header-mini{
        font-size: 8vw;  
        display: block;      
    }
    .row{
        flex-direction: column;
    }
    .image {
        width: 100% !important;
    }
    .footer .icon-sosmed {
        flex-direction: row;
        width: 80px;
    }
    .map {
        width: 100%;
        padding-top: 20px;
    }
    .col .admin,
    .col .phone,
    .col .email{
        margin-bottom: 18px;
    }
}
@media screen and (max-width: 600px){
    .header{
        display: none;
    }
    .header.header-mini{
        font-size: 14vw;   
        display: block;           
    }
}
/* end of responsive */

